.pagina {
  background-color: gray;
  margin-left: 30px;
  margin-right: 30px;
}

.titulo {
  /* background-color: #f1d590; */
  text-align: center;
  color: #f1d590;
  margin: 25px;
  padding: 25px;
  width: auto;
}

.card {
  font-size: 21px;
  text-align: justify;
}

.img-fluid {
  padding-left: 5px;
}


ul.redes-sociais li {
  display: inline-block;
  margin-right: 110px;

}

.redes-sociais {
  margin-top: 15px;
  padding-top: 10px;
  /* background-color: #f1d590; */
  text-align: center;
}

.fa-github {
  color: #282828;
}

.fa-linkedin {
  color: #282828;
}

footer {
  clear: both;
  text-align: center;
  font-size: 0.8em;
  padding-top: 20px;
}

a:visited {
  text-decoration: none;
}

.portfolio-cv {
  background-color: #f1d590;
  text-align: center;
  /*   margin-top: 25px;*/
  padding-top: 20px;
  padding-bottom: 5px;
}

.hidden {
  display: none;
}




@media screen and (max-width:780px) {

  .titulo h1 {
    color: #f8b408;
    padding-bottom: 15px;
  }

  .titulo h3 {
    color: #ebc35f;
  }

  .card {
    font-size: 23px;
    text-align: center;
  }

}