.pagina {
  background-color: gray;
}

.titulo {
  background-color: #f1d590;
  text-align: center;
  margin: 25px;
  padding: 25px;
  width: auto;
}

.img-fluid {
  padding-left: 5px;
}


ul.redes-sociais li {
  display: inline-block;
  margin: 0px 150px 0 0;

}

.redes-sociais {
  margin-top: 15px;
  padding-top: 10px;
  /* background-color: #f1d590; */
  text-align: center;
}

.fa-github {
  color: #282828;
}

.fa-linkedin {
  color: #282828;
}

footer {
  clear: both;
  text-align: center;
  font-size: 0.8em;
  padding-top: 20px;
}

a:visited {
  text-decoration: none;
}

.portfolio-cv {
  background-color: #f1d590;
  text-align: center;
  margin-top: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.hidden {
  display: none;
}